<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rails JQTouch</title>
    
    <%= stylesheet_link_tag "jqt/jqtouch" %>
    <%= javascript_include_tag "jquery-1.3.2.min", "jqtouch.min" %> 
    <%= jqtouch_init :status_bar => 'black-translucent' %>
</head>
<body>
  <%= yield %>
</body>
</html>
